header{
	position: relative;
	width: 100%;
	z-index: 50;
}
header:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.header__body{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo{
	position: relative;
	z-index: 3;
}
.header__logo img{
	max-width: 100%;
	display: block;
}
.header__burger{
	display: none;
}
.header__menu{
}


.header__list{
	position: relative;
	z-index: 2;
	display: flex;
}


@media (max-width: 925px){
	body.lock{
		overflow: hidden;
	}
	.header__body{
		height: 50px;
	}

	.header__burger {
		display: block;
		position: relative;
		width: 50px;
		height: 30px;
		position: relative;
		z-index: 3;
	}
	.header__burger span{
		position: absolute;
		width: 100%;
		height: 4px;
		left: 0;
		top: 12px;
		background-color: #252c30;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before{
		content: '';
		position: absolute;
		width: 100%;
		height: 4px;
		left: 0;
		top: 0;
		background-color: #252c30;
		transition: all 0.3s ease 0s;
	}
	.header__burger:after{
		content: '';
		position: absolute;
		width: 100%;
		height: 4px;
		left: 0;
		background-color: #252c30;
		bottom: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger.active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform: rotate(-45deg);
		bottom: 17px;
	}
	.header__burger.active span{
		transform: scale(0);
	}
	.header__menu{
		position: fixed;
		top: -220%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #3338;
		padding: 170px 30px 20px 30x;
		transition: all 0.3s ease 0s;
	}
	.header__menu.active{
		top: 120px;
	}
	.header__list{
		display: flex;
		flex-direction: column;
	}
	.header__list li{
		padding: 5px;
		background-color: #fff;
		margin: 0px 0px 3% 0px;
		text-align: center;
	}
	@media (max-height: 560px) {
	.header__list{
		flex-direction: row;
		flex-wrap: wrap;
	}
	.header__link{
		flex:30%;
	}
}
}
